@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column; /* Align items vertically */
}

.container {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  backdrop-filter: blur(10px) saturate(180%);
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.2);
  position: relative; /* To position subtitles inside this container */
}

.title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
  letter-spacing: 1px;
}

.description {
  font-size: 16px;
  color: #666;
  margin-bottom: 25px;
}

.listen-btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.listen-btn i {
  margin-right: 10px;
}

.listen-btn:hover {
  background-color: #388e3c;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.listening {
  background-color: purple;
}

/* Subtitle styling */
.subtitle {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  max-width: 90%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.subtitle.show {
  opacity: 1;
}
